.dashboard {
  position: relative;
  display: flex;
  height: 100%;
  background-color: #fff;
}

.right_section {
  width: 100%;
  margin-left: 5%;
}

.mobileNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #165dc9;
  height: 65px;
  padding: 10px 16px;
  gap: 16px;
  z-index: 99;
}

.filter_icon_mobile {
  padding: 6px 10px;
}

.mobileNavbar_user {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 768px) {
  .right_section {
    margin-left: 0;
  }
}
