
/*----------------- Breakout chart---------------------- */

.breakoutChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.revenue_chart_section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.revenue_breakout_legend1 {
  display: flex;
  flex-direction: column;
  /* width: 12rem; */
  position: absolute;
  left: 6vw;
  bottom: 25%;
}

.revenue_breakout_legend2 {
  display: flex;
  flex-direction: column;
  /* width: 12rem; */
  position: absolute;
  right: 0vw;
  bottom: 25%;
}

.legend_title1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend_title2 {
  display: flex;
  align-items: center;
  gap: 5px;
}


.total_revenue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.total_revenue_amount {
  color: #0d0d0d;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.total_revenue_title {
  color: #666;
  /* font-family: "SF Pro Display"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}

@media (max-width: 1300px) {
  .revenue_breakout_legend1 {
    display: flex;
    flex-direction: column;
    /* width: 12rem; */
    position: absolute;
    left: 2vw;
    bottom: 2vw;
  }

  .revenue_breakout_legend2 {
    display: flex;
    flex-direction: column;
    /* width: 12rem; */
    position: absolute;
    right: -22px;
    bottom: 0;
  }

  .legend_title2{
    display: flex;
    align-items: flex-start;
    width: 7rem;
    gap: 5px;
  }

  .comissions_dot{
    margin-top: 5px;
  }
}

/* -------------Order breakout chart------------------------ */

.orderBreakoutChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 3rem;
}

.breakout_center_text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.breakout_center_text h1 {
  color: #0d0d0d;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.breakout_center_text p {
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}

.legend_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.breakout_legend {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px; /* 140% */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.breakout_legend b {
  color: black;
}

.legend_color {
  /* min-width: 1.2rem;
  min-height: 0.7rem; */
  min-width: 0.7rem;
  min-height: 0.7rem;
  border-radius: 50%;
}

.space {
  width: 100%;
  border-top: 0.2px dotted #808080;
}

/* ----------------------.salesAnalysisChart_center_text-------------------- */

.salesAnalysisChart_center_text {
  position: absolute;
  inset: 0;
  top: -2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.salesAnalysisChart_center_text h1 {
  color: #0d0d0d;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.salesAnalysisChart_center_text p {
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}
